<h1> AULA13 - PYSPARK - ATIVIDADE ABONO <h1>
<ul>
  <li> Instalar e importar as bibliotecas do spark e pyspark </li>
  <li> Criar um spark context com o app name = “Exercicio Pyspark” </li>
  <li> Subir o arquivo “pedido detalhe” </li>
  <li> Criar um dataframe lendo o arquivo pedido_detalhe.csv </li>
  <li> Criar uma nova coluna chamada “data_atual” com a data atual </li>
  <li> Converter a coluna data_atual para o tipo data. </li>
  <li> Criar uma nova coluna com a  multiplicação da quantidade e valor chamada “total” </li>
  <li> gravar no formato parquet apenas os pedidos com a VALOR maior que 100 </li>

<ul>

In [1]:
# Instalando as bibliotecas
%%sh
sudo pip install spark
sudo pip install pyspark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
Building wheels for collected packages: spark
  Building wheel for spark (setup.py): started
  Building wheel for spark (setup.py): finished with status 'done'
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=95c16f538f9977db9e5c639803490a791de7a92333127ec1f3571118806c74d4
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d4ac6da790a8e0e4a2fe1bfd085d0fb81abdad549c62c597eeac28c316f74d6a
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

<h3> Importando as bibliotecas </h3>

In [2]:
# Pandas, podemos transformar um dataframe do pandas em um dataframe do spark e o contrário também
import pandas as pd

# Importando o spark e o pyspark
import spark,pyspark

# Importando as bibliotecas do pyspark.sql 
from pyspark.sql import *

# Importando as funções sql do spark
# documentação https://spark.apache.org/docs/latest/api/sql/index.html
from pyspark.sql import functions as f

# Importando os tipos de dados do spark
# Documentação https://spark.apache.org/docs/latest/sql-ref-datatypes.html
from pyspark.sql import types as t 

# Biblioteca datetime
from datetime import datetime, date

Important classes of Spark SQL and DataFrames:

1. <b>pyspark.sql.SparkSession</b> -> Ponto principal de entrada para criar dataframes e  funcionalidades do SQL.
2. <b>pyspark.sql.DataFrame</b> -> Coleção de dados distribuidas e agrupadas em colunas (tabela).
3. <b>pyspark.sql.Column</b> -> Coluna do dataframe
4. <b>pyspark.sql.Row linha</b> -> do dataframe
5. <b>pyspark.sql.functions</b> -> Lista de funções embutidas para dataframes.
6. <b>pyspark.sql.types</b> -> Lista de tipos de dados para as colunas do dataframe.

<h3> 1 - Criar um spark context com o app name = “Exercicio Pyspark” </h3>

In [3]:
#Criando uma Sessão do Spark (Spark Session)
spark = SparkSession.builder.master("local").appName("Exercicio Pyspark").getOrCreate()

<h3> 2 - Criar um dataframe lendo o arquivo pedido_detalhe.csv </h3>

In [23]:
#Convertendo o dataframe do pandas para o do spark
df_pandas = pd.read_csv("/content/pedido_detalhe.csv", delimiter=";")
df_spark = spark.createDataFrame(df_pandas)
df_spark = df_spark.drop('Unnamed: 5', 'Unnamed: 6')
df_spark.show()

+----------------+---------+----------+----------+-----+
|id_venda_detalhe|id_pedido|id_produto|quantidade|valor|
+----------------+---------+----------+----------+-----+
|               1|        1|         1|         1|   60|
|               2|        1|         2|         2|  200|
|               3|        1|         3|         3|  400|
|               4|        1|         4|         3|  400|
|               5|        1|         5|         1|  350|
|               6|        1|         6|         2|  800|
|               7|        2|         1|         1|   60|
|               8|        2|         2|         2|  200|
|               9|        2|         3|         3|  400|
|              10|        2|         4|         3|  400|
|              11|        2|         5|         1|  350|
|              12|        3|         6|         2|  800|
|              13|        3|         1|         1|   60|
|              14|        3|         2|         2|  200|
|              15|        4|         3|         3|  400|
|              16|        4|         4|         3|  400|
|              17|        5|         5|         1|  350|
|              18|        6|         6|         2|  800|
|              19|        7|         1|         1|   60|
|              20|        8|         2|         2|  200|
+----------------+---------+----------+----------+-----+
only showing top 20 rows

<h3> 3 - Criar uma nova coluna chamada “data_atual” com a data atual </h3>

In [27]:
from pyspark.sql import types as t
from pyspark.sql import functions as f

data_atual = date.today()

#Criando novas colunas
df_spark = df_spark.withColumn("data_atual",f.lit(data_atual))
df_spark.show()

+----------------+---------+----------+----------+-----+----------+
|id_venda_detalhe|id_pedido|id_produto|quantidade|valor|data_atual|
+----------------+---------+----------+----------+-----+----------+
|               1|        1|         1|         1|   60|2022-05-12|
|               2|        1|         2|         2|  200|2022-05-12|
|               3|        1|         3|         3|  400|2022-05-12|
|               4|        1|         4|         3|  400|2022-05-12|
|               5|        1|         5|         1|  350|2022-05-12|
|               6|        1|         6|         2|  800|2022-05-12|
|               7|        2|         1|         1|   60|2022-05-12|
|               8|        2|         2|         2|  200|2022-05-12|
|               9|        2|         3|         3|  400|2022-05-12|
|              10|        2|         4|         3|  400|2022-05-12|
|              11|        2|         5|         1|  350|2022-05-12|
|              12|        3|         6|         2|  800|2022-05-12|
|              13|        3|         1|         1|   60|2022-05-12|
|              14|        3|         2|         2|  200|2022-05-12|
|              15|        4|         3|         3|  400|2022-05-12|
|              16|        4|         4|         3|  400|2022-05-12|
|              17|        5|         5|         1|  350|2022-05-12|
|              18|        6|         6|         2|  800|2022-05-12|
|              19|        7|         1|         1|   60|2022-05-12|
|              20|        8|         2|         2|  200|2022-05-12|
+----------------+---------+----------+----------+-----+----------+
only showing top 20 rows

<h3> 4 - Converter a coluna data_atual para o tipo data.</h3><br>

In [28]:
# Criando uma coluna e convertendo para date
df_spark.withColumn("data_atual",df_spark.data_atual.cast(t.DateType()))
df_spark.show()

+----------------+---------+----------+----------+-----+----------+
|id_venda_detalhe|id_pedido|id_produto|quantidade|valor|data_atual|
+----------------+---------+----------+----------+-----+----------+
|               1|        1|         1|         1|   60|2022-05-12|
|               2|        1|         2|         2|  200|2022-05-12|
|               3|        1|         3|         3|  400|2022-05-12|
|               4|        1|         4|         3|  400|2022-05-12|
|               5|        1|         5|         1|  350|2022-05-12|
|               6|        1|         6|         2|  800|2022-05-12|
|               7|        2|         1|         1|   60|2022-05-12|
|               8|        2|         2|         2|  200|2022-05-12|
|               9|        2|         3|         3|  400|2022-05-12|
|              10|        2|         4|         3|  400|2022-05-12|
|              11|        2|         5|         1|  350|2022-05-12|
|              12|        3|         6|         2|  800|2022-05-12|
|              13|        3|         1|         1|   60|2022-05-12|
|              14|        3|         2|         2|  200|2022-05-12|
|              15|        4|         3|         3|  400|2022-05-12|
|              16|        4|         4|         3|  400|2022-05-12|
|              17|        5|         5|         1|  350|2022-05-12|
|              18|        6|         6|         2|  800|2022-05-12|
|              19|        7|         1|         1|   60|2022-05-12|
|              20|        8|         2|         2|  200|2022-05-12|
+----------------+---------+----------+----------+-----+----------+
only showing top 20 rows

<h3> 5 - Criar uma nova coluna com a multiplicação da quantidade e valor chamada “total” </h3>

In [29]:
df_spark = df_spark.withColumn("total",df_spark.quantidade * df_spark.valor)
df_spark.show()

+----------------+---------+----------+----------+-----+----------+-----+
|id_venda_detalhe|id_pedido|id_produto|quantidade|valor|data_atual|total|
+----------------+---------+----------+----------+-----+----------+-----+
|               1|        1|         1|         1|   60|2022-05-12|   60|
|               2|        1|         2|         2|  200|2022-05-12|  400|
|               3|        1|         3|         3|  400|2022-05-12| 1200|
|               4|        1|         4|         3|  400|2022-05-12| 1200|
|               5|        1|         5|         1|  350|2022-05-12|  350|
|               6|        1|         6|         2|  800|2022-05-12| 1600|
|               7|        2|         1|         1|   60|2022-05-12|   60|
|               8|        2|         2|         2|  200|2022-05-12|  400|
|               9|        2|         3|         3|  400|2022-05-12| 1200|
|              10|        2|         4|         3|  400|2022-05-12| 1200|
|              11|        2|         5|         1|  350|2022-05-12|  350|
|              12|        3|         6|         2|  800|2022-05-12| 1600|
|              13|        3|         1|         1|   60|2022-05-12|   60|
|              14|        3|         2|         2|  200|2022-05-12|  400|
|              15|        4|         3|         3|  400|2022-05-12| 1200|
|              16|        4|         4|         3|  400|2022-05-12| 1200|
|              17|        5|         5|         1|  350|2022-05-12|  350|
|              18|        6|         6|         2|  800|2022-05-12| 1600|
|              19|        7|         1|         1|   60|2022-05-12|   60|
|              20|        8|         2|         2|  200|2022-05-12|  400|
+----------------+---------+----------+----------+-----+----------+-----+
only showing top 20 rows

<h3> 6 - Gravar no formato parquet apenas os pedidos com a VALOR maior que 100</h3>

In [31]:
#Filtrando os dados com o Where
df_valor = df_spark.where(df_spark.valor > 100)
df_valor.show()

+----------------+---------+----------+----------+-----+----------+-----+
|id_venda_detalhe|id_pedido|id_produto|quantidade|valor|data_atual|total|
+----------------+---------+----------+----------+-----+----------+-----+
|               2|        1|         2|         2|  200|2022-05-12|  400|
|               3|        1|         3|         3|  400|2022-05-12| 1200|
|               4|        1|         4|         3|  400|2022-05-12| 1200|
|               5|        1|         5|         1|  350|2022-05-12|  350|
|               6|        1|         6|         2|  800|2022-05-12| 1600|
|               8|        2|         2|         2|  200|2022-05-12|  400|
|               9|        2|         3|         3|  400|2022-05-12| 1200|
|              10|        2|         4|         3|  400|2022-05-12| 1200|
|              11|        2|         5|         1|  350|2022-05-12|  350|
|              12|        3|         6|         2|  800|2022-05-12| 1600|
|              14|        3|         2|         2|  200|2022-05-12|  400|
|              15|        4|         3|         3|  400|2022-05-12| 1200|
|              16|        4|         4|         3|  400|2022-05-12| 1200|
|              17|        5|         5|         1|  350|2022-05-12|  350|
|              18|        6|         6|         2|  800|2022-05-12| 1600|
|              20|        8|         2|         2|  200|2022-05-12|  400|
|              21|        9|         3|         3|  400|2022-05-12| 1200|
|              22|       10|         4|         3|  400|2022-05-12| 1200|
|              23|       11|         5|         1|  350|2022-05-12|  350|
|              24|       11|         6|         2|  800|2022-05-12| 1600|
+----------------+---------+----------+----------+-----+----------+-----+
only showing top 20 rows

In [37]:
# Partition by irá criar uma arvore de pastas
df_valor.write.partitionBy("id_venda_detalhe","id_pedido","valor").parquet("/content/vendas_spark_/pedidos_partition")

In [38]:
# Lendo parquet
df_p = spark.read.parquet("/content/vendas_spark_/pedidos_partition")
df_p.show()

+----------+----------+----------+-----+----------------+---------+-----+
|id_produto|quantidade|data_atual|total|id_venda_detalhe|id_pedido|valor|
+----------+----------+----------+-----+----------------+---------+-----+
|         5|         1|2022-05-12|  350|              41|       19|  350|
|         6|         2|2022-05-12| 1600|              36|       14|  800|
|         5|         1|2022-05-12|  350|              60|       29|  350|
|         2|         2|2022-05-12|  400|              32|       11|  200|
|         4|         3|2022-05-12| 1200|              10|        2|  400|
|         2|         2|2022-05-12|  400|              63|       32|  200|
|         5|         1|2022-05-12|  350|              11|        2|  350|
|         2|         2|2022-05-12|  400|              74|       38|  200|
|         6|         2|2022-05-12| 1600|              90|       49|  800|
|         2|         2|2022-05-12|  400|              57|       26|  200|
|         4|         3|2022-05-12| 1200|              16|        4|  400|
|         6|         2|2022-05-12| 1600|              84|       43|  800|
|         6|         2|2022-05-12| 1600|              78|       41|  800|
|         2|         2|2022-05-12|  400|              26|       11|  200|
|         3|         3|2022-05-12| 1200|              15|        4|  400|
|         6|         2|2022-05-12| 1600|              24|       11|  800|
|         3|         3|2022-05-12| 1200|               3|        1|  400|
|         3|         3|2022-05-12| 1200|              27|       11|  400|
|         5|         1|2022-05-12|  350|               5|        1|  350|
|         2|         2|2022-05-12|  400|               2|        1|  200|
+----------+----------+----------+-----+----------------+---------+-----+
only showing top 20 rows