#PySpark - Union / Joins / When - Otherwise / Collect

##### Índice:

<ul>
 <li>Importação bibliotecas / funções </li> 
 <li>Criar Sessão PySpark </li>
 <li>Criar DF / ler arquivo</li>
 <li>Collect()</li>
 <li>When() / Otherwise()</li>
 <li>Union (Concat)</li>
 <li>Joins</li>
 <li>Join - Simples</li>
 <li>Inner Join</li>
 <li>Left Join</li>
 <li>Right Join</li>
 <li>Full Join</li>
 <li>Semi Join</li>
 <li>Anti Join</li>

</ul>

In [ ]:
!pip install pyspark

In [2]:
import os
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

# Resolve o problema de incompatibilidade de versões
os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [6]:
spark = (
    SparkSession.builder
    .master('local')
    .appName('PySpark_03')
    .getOrCreate()
)

In [7]:
df = spark.read.csv('/content/sample_data/wc2018-players.csv', header=True, inferSchema=True)

In [8]:
df = df.withColumnRenamed('Team', 'Selecao').withColumnRenamed('#', 'Numero').withColumnRenamed('Pos.', 'Posicao')\
.withColumnRenamed('Fifa Popular Name', 'Nome_FIFA').withColumnRenamed('Birth Date', 'Nascimento')\
.withColumnRenamed('Shirt Name', 'Nome Camiseta').withColumnRenamed('Club', 'Time').withColumnRenamed('Height', 'Altura')\
.withColumnRenamed('Weight', 'Peso')

In [9]:
dia = udf(lambda data: data.split('.')[0])
mes = udf(lambda data: data.split('.')[1])
ano = udf(lambda data: data.split('.')[2])

In [10]:
df = df.withColumn('Dia', dia('Nascimento')).withColumn('Mes', mes('Nascimento')).withColumn('Ano', ano('nascimento'))
df = df.withColumn('Data_Nascimento', concat_ws('-', 'Ano', 'Mes', 'Dia').cast(DateType()))
df.show(5)

+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
|  Selecao|Numero|Posicao|         Nome_FIFA|Nascimento|Nome Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
|Argentina|     3|     DF|TAGLIAFICO Nicolas|31.08.1992|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|
|Argentina|    22|     MF|    PAVON Cristian|21.01.1996|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|
|Argentina|    15|     MF|    LANZINI Manuel|15.02.1993|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|
|Argentina|    18|     DF|    SALVIO Eduardo|13.07.1990|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|
|Argentina|    10|     FW|      MESSI Lionel|24.06.1987|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|
+---------+------+-------+------------------+----------+-------------+--------------------+------+----+---+---+----+---------------+
only showing top 5 rows

In [11]:
df.printSchema()

root
 |-- Selecao: string (nullable = true)
 |-- Numero: integer (nullable = true)
 |-- Posicao: string (nullable = true)
 |-- Nome_FIFA: string (nullable = true)
 |-- Nascimento: string (nullable = true)
 |-- Nome Camiseta: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Altura: integer (nullable = true)
 |-- Peso: integer (nullable = true)
 |-- Dia: string (nullable = true)
 |-- Mes: string (nullable = true)
 |-- Ano: string (nullable = true)
 |-- Data_Nascimento: date (nullable = true)

In [12]:
df2 = df
df = df.drop('Nascimento', 'Nome_FIFA')

####distinct() - Retorna os valores unicos de uma coluna

In [13]:
df.select(col('Selecao')).distinct().show(50)

+--------------+
|       Selecao|
+--------------+
|        Russia|
|       Senegal|
|        Sweden|
|       IR Iran|
|       Germany|
|        France|
|     Argentina|
|       Belgium|
|          Peru|
|       Croatia|
|       Nigeria|
|Korea Republic|
|         Spain|
|       Denmark|
|       Morocco|
|        Panama|
|       Iceland|
|       Uruguay|
|        Mexico|
|       Tunisia|
|  Saudi Arabia|
|   Switzerland|
|        Brazil|
|         Japan|
|       England|
|        Poland|
|      Portugal|
|     Australia|
|    Costa Rica|
|         Egypt|
|        Serbia|
|      Colombia|
+--------------+

####collect() - Entrega em formato de lista

In [15]:
lista = df.select(col('Selecao')).distinct().collect()

In [18]:
paises = []
for pais in lista:
  paises.append(pais[0])
paises

['Russia',
 'Senegal',
 'Sweden',
 'IR Iran',
 'Germany',
 'France',
 'Argentina',
 'Belgium',
 'Peru',
 'Croatia',
 'Nigeria',
 'Korea Republic',
 'Spain',
 'Denmark',
 'Morocco',
 'Panama',
 'Iceland',
 'Uruguay',
 'Mexico',
 'Tunisia',
 'Saudi Arabia',
 'Switzerland',
 'Brazil',
 'Japan',
 'England',
 'Poland',
 'Portugal',
 'Australia',
 'Costa Rica',
 'Egypt',
 'Serbia',
 'Colombia']

when() / otherwise

In [20]:
# when / otherwise parece um if/else
df.withColumn('Coluna_nova', when(col('Selecao') == "Argentina", "Argentinos :)").otherwise("Não Argentino")).show(30)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
|  Selecao|Numero|Posicao|Nome Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|  Coluna_nova|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|Argentinos :)|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|Argentinos :)|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|Argentinos :)|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|Argentinos :)|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|Argentinos :)|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|Argentinos :)|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|Argentinos :)|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|Argentinos :)|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|Argentinos :)|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|Argentinos :)|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|Argentinos :)|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|Argentinos :)|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|Argentinos :)|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|Argentinos :)|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|Argentinos :)|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|Argentinos :)|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|Argentinos :)|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|Argentinos :)|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|Argentinos :)|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|Argentinos :)|
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|Argentinos :)|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|Argentinos :)|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|Argentinos :)|
|Australia|    16|     DF|       BEHICH|     Bursaspor (TUR)|   170|  63| 16| 12|1990|     1990-12-16|Não Argentino|
|Australia|    10|     FW|        KRUSE|    VfL Bochum (GER)|   180|  66| 05| 10|1988|     1988-10-05|Não Argentino|
|Australia|    19|     DF|       RISDON|WS Wanderers FC (...|   169|  70| 27| 07|1992|     1992-07-27|Não Argentino|
|Australia|     3|     DF|     MEREDITH|   Millwall FC (ENG)|   179|  71| 05| 04|1988|     1988-04-05|Não Argentino|
|Australia|    13|     MF|         MOOY|Huddersfield Town...|   173|  72| 15| 09|1990|     1990-09-15|Não Argentino|
|Australia|    14|     FW|     MACLAREN|  Hibernian FC (SCO)|   178|  72| 29| 07|1993|     1993-07-29|Não Argentino|
|Australia|    21|     FW|     PETRATOS|Newcastle United ...|   176|  72| 10| 11|1992|     1992-11-10|Não Argentino|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+-------------+
only showing top 30 rows

In [21]:
europa = ['Sweden', 'Germany', 'France', 'Belgium', 'Croatia', 'Spain', 'Denmark', 'Iceland', 'Switzerland', 'England', 'Poland', 'Portugal', 'Serbia']
asia = ['Russia', 'IR Iran', 'Nigeria', 'Korea Republic', 'Saudi Arabia', 'Japan', ]
africa = ['Senegal', 'Morocco', 'Tunisia', 'Egypt']
oceania = ['Australia']
america_norte = ['Panama', 'Mexico', 'Costa Rica']
america_sul = ['Argentina', 'Peru', 'Uruguay', 'Brazil', 'Colombia']

In [22]:
df = df.withColumn('Continente', when(col('Selecao').isin(europa), 'Europa')\
             .when(col('Selecao').isin(asia), 'Ásia')\
             .when(col('Selecao').isin(africa), 'África')\
             .when(col('Selecao').isin(oceania), 'Oceania')\
             .when(col('Selecao').isin(america_norte), 'América do Norte')\
             .when(col('Selecao').isin(america_sul), 'América do Sul')\
             .otherwise('Verificar'))
df.show(5)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|  Selecao|Numero|Posicao|Nome Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|    Continente|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|América do Sul|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|América do Sul|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|América do Sul|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|América do Sul|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|América do Sul|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
only showing top 5 rows

In [25]:
df.filter('Continente = "Verificar"').show(5)

+-------+------+-------+-------------+----+------+----+---+---+---+---------------+----------+
|Selecao|Numero|Posicao|Nome Camiseta|Time|Altura|Peso|Dia|Mes|Ano|Data_Nascimento|Continente|
+-------+------+-------+-------------+----+------+----+---+---+---+---------------+----------+
+-------+------+-------+-------------+----+------+----+---+---+---+---------------+----------+

####union (concat) - Unir dataframes

In [30]:
df_america_sul = df.filter('Continente = "América do Sul"')
df_america_sul.select('Selecao').distinct().show()

+---------+
|  Selecao|
+---------+
|Argentina|
|     Peru|
|  Uruguay|
|   Brazil|
| Colombia|
+---------+

In [33]:
df_america_norte = df.filter('Continente = "América do Norte"')
df_america_norte.select('Selecao').distinct().show()

+----------+
|   Selecao|
+----------+
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

In [38]:
df_americas = df_america_sul.union(df_america_norte)
df_americas.show(100)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|  Selecao|Numero|Posicao|Nome Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|    Continente|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|América do Sul|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|América do Sul|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|América do Sul|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|América do Sul|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|América do Sul|
|Argentina|     4|     DF|      ANSALDI|     Torino FC (ITA)|   181|  73| 20| 09|1986|     1986-09-20|América do Sul|
|Argentina|     5|     MF|       BIGLIA|      AC Milan (ITA)|   175|  73| 30| 01|1986|     1986-01-30|América do Sul|
|Argentina|     7|     MF|       BANEGA|    Sevilla FC (ESP)|   175|  73| 29| 06|1988|     1988-06-29|América do Sul|
|Argentina|    14|     DF|   MASCHERANO|Hebei China Fortu...|   174|  73| 08| 06|1984|     1984-06-08|América do Sul|
|Argentina|    21|     FW|       DYBALA|   Juventus FC (ITA)|   177|  73| 15| 11|1993|     1993-11-15|América do Sul|
|Argentina|    19|     FW|       AGÜERO|Manchester City F...|   172|  74| 02| 06|1988|     1988-06-02|América do Sul|
|Argentina|     9|     FW|      HIGUAÍN|   Juventus FC (ITA)|   184|  75| 10| 12|1987|     1987-12-10|América do Sul|
|Argentina|    11|     MF|     DI MARÍA|Paris Saint-Germa...|   178|  75| 14| 02|1988|     1988-02-14|América do Sul|
|Argentina|    20|     MF|     LO CELSO|Paris Saint-Germa...|   177|  75| 09| 04|1996|     1996-04-09|América do Sul|
|Argentina|    13|     MF|         MEZA|CA Independiente ...|   180|  76| 15| 12|1992|     1992-12-15|América do Sul|
|Argentina|     8|     DF|        ACUÑA|   Sporting CP (POR)|   172|  77| 28| 10|1991|     1991-10-28|América do Sul|
|Argentina|    23|     GK|    CABALLERO|    Chelsea FC (ENG)|   186|  80| 28| 09|1981|     1981-09-28|América do Sul|
|Argentina|     2|     DF|      MERCADO|    Sevilla FC (ESP)|   181|  81| 18| 03|1987|     1987-03-18|América do Sul|
|Argentina|    17|     DF|     OTAMENDI|Manchester City F...|   181|  81| 12| 02|1988|     1988-02-12|América do Sul|
|Argentina|    16|     DF|         ROJO|Manchester United...|   189|  82| 20| 03|1990|     1990-03-20|América do Sul|
|Argentina|     6|     DF|        FAZIO|       AS Roma (ITA)|   199|  85| 17| 03|1987|     1987-03-17|América do Sul|
|Argentina|    12|     GK|       ARMANI|CA River Plate (ARG)|   189|  85| 16| 10|1986|     1986-10-16|América do Sul|
|Argentina|     1|     GK|       GUZMÁN|   Tigres UANL (MEX)|   192|  90| 10| 02|1986|     1986-02-10|América do Sul|
|   Brazil|    18|     MF|         FRED|FC Shakhtar Donet...|   169|  64| 05| 03|1993|     1993-03-05|América do Sul|
|   Brazil|    21|     FW|       TAISON|FC Shakhtar Donet...|   172|  64| 13| 01|1988|     1988-01-13|América do Sul|
|   Brazil|    17|     MF|  FERNANDINHO|Manchester City F...|   179|  67| 04| 05|1985|     1985-05-04|América do Sul|
|   Brazil|    22|     DF|       FAGNER|SC Corinthians (BRA)|   168|  67| 11| 06|1989|     1989-06-11|América do Sul|
|   Brazil|    10|     FW|    NEYMAR JR|Paris Saint-Germa...|   175|  68| 05| 02|1992|     1992-02-05|América do Sul|
|   Brazil|    11|     MF|  P. COUTINHO|  FC Barcelona (ESP)|   172|  68| 12| 06|1992|     1992-06-12|América do Sul|
|   Brazil|     7|     FW|     D. COSTA|   Juventus FC (ITA)|   182|  70| 14| 09|1990|     1990-09-14|América do Sul|
|   Brazil|     6|     DF|  FILIPE LUIS|Atletico Madrid (...|   182|  73| 09| 08|1985|     1985-08-09|América do Sul|
|   Brazil|     9|     FW|     G. JESUS|Manchester City F...|   175|  73| 03| 04|1997|     1997-04-03|América do Sul|
|   Brazil|    13|     DF|   MARQUINHOS|Paris Saint-Germa...|   183|  75| 14| 05|1994|     1994-05-14|América do Sul|
|   Brazil|    20|     FW|      FIRMINO|  Liverpool FC (ENG)|   181|  76| 02| 10|1991|     1991-10-02|América do Sul|
|   Brazil|    19|     MF|      WILLIAN|    Chelsea FC (ENG)|   175|  77| 09| 08|1988|     1988-08-09|América do Sul|
|   Brazil|     3|     DF|      MIRANDA|FC Internazionale...|   186|  78| 07| 09|1984|     1984-09-07|América do Sul|
|   Brazil|    14|     DF|       DANILO|Manchester City F...|   184|  78| 15| 07|1991|     1991-07-15|América do Sul|
|   Brazil|     2|     DF|     T. SILVA|Paris Saint-Germa...|   183|  79| 22| 09|1984|     1984-09-22|América do Sul|
|   Brazil|    12|     DF|      MARCELO|Real Madrid CF (ESP)|   174|  80| 12| 05|1988|     1988-05-12|América do Sul|
|   Brazil|    15|     MF|     PAULINHO|  FC Barcelona (ESP)|   181|  81| 25| 07|1988|     1988-07-25|América do Sul|
|   Brazil|     4|     DF|      GEROMEL|   Grêmio FBPA (BRA)|   190|  84| 21| 09|1985|     1985-09-21|América do Sul|
|   Brazil|     5|     MF|     CASEMIRO|Real Madrid CF (ESP)|   185|  84| 23| 02|1992|     1992-02-23|América do Sul|
|   Brazil|     8|     MF|   R. AUGUSTO| Beijing Guoan (CHN)|   186|  86| 08| 02|1988|     1988-02-08|América do Sul|
|   Brazil|    23|     GK|      EDERSON|Manchester City F...|   188|  86| 17| 08|1993|     1993-08-17|América do Sul|
|   Brazil|     1|     GK|    A. BECKER|       AS Roma (ITA)|   193|  91| 02| 10|1992|     1992-10-02|América do Sul|
|   Brazil|    16|     GK|       CASSIO|SC Corinthians (BRA)|   195|  92| 06| 06|1987|     1987-06-06|América do Sul|
| Colombia|    20|     MF|  J. QUINTERO|CA River Plate (ARG)|   169|  64| 18| 01|1993|     1993-01-18|América do Sul|
| Colombia|    17|     DF|    J. MOJICA|     Girona FC (ESP)|   185|  66| 21| 08|1992|     1992-08-21|América do Sul|
| Colombia|    16|     MF|     J. LERMA|    Levante UD (ESP)|   179|  70| 25| 10|1994|     1994-10-25|América do Sul|
| Colombia|     4|     DF|        ARIAS| PSV Eindhoven (NED)|   177|  71| 13| 01|1992|     1992-01-13|América do Sul|
| Colombia|    15|     MF|     M. URIBE|  Club América (MEX)|   182|  71| 21| 03|1991|     1991-03-21|América do Sul|
| Colombia|     9|     FW|       FALCAO|     AS Monaco (FRA)|   177|  72| 10| 02|1986|     1986-02-10|América do Sul|
| Colombia|    11|     MF|     CUADRADO|   Juventus FC (ITA)|   179|  72| 26| 05|1988|     1988-05-26|América do Sul|
| Colombia|    18|     DF|        FABRA|CA Boca Juniors (...|   172|  72| 22| 02|1991|     1991-02-22|América do Sul|
| Colombia|    21|     FW|    IZQUIERDO|Brighton & Hove A...|   171|  73| 07| 07|1992|     1992-07-07|América do Sul|
| Colombia|     5|     MF|      BARRIOS|CA Boca Juniors (...|   178|  74| 16| 10|1993|     1993-10-16|América do Sul|
| Colombia|    19|     FW|     M. BORJA|  SE Palmeiras (BRA)|   183|  74| 26| 01|1993|     1993-01-26|América do Sul|
| Colombia|    10|     MF|        JAMES|FC Bayern München...|   180|  75| 12| 07|1991|     1991-07-12|América do Sul|
| Colombia|     7|     FW|        BACCA| Villarreal CF (ESP)|   181|  77| 08| 09|1986|     1986-09-08|América do Sul|
| Colombia|    14|     FW|    L. MURIEL|    Sevilla FC (ESP)|   178|  79| 16| 04|1991|     1991-04-16|América do Sul|
| Colombia|     1|     GK|       OSPINA|    Arsenal FC (ENG)|   183|  80| 31| 08|1988|     1988-08-31|América do Sul|
| Colombia|     3|     DF|   O. MURILLO|    CF Pachuca (MEX)|   184|  80| 18| 04|1988|     1988-04-18|América do Sul|
| Colombia|    12|     GK|    C. VARGAS|AC Deportivo Cali...|   185|  80| 09| 03|1989|     1989-03-09|América do Sul|
| Colombia|    22|     GK|J.F. CUADRADO|CD Once Caldas (COL)|   180|  80| 01| 06|1985|     1985-06-01|América do Sul|
| Colombia|    23|     DF|   D. SANCHEZ|Tottenham Hotspur...|   187|  81| 12| 06|1996|     1996-06-12|América do Sul|
| Colombia|     2|     DF|    C. ZAPATA|      AC Milan (ITA)|   187|  82| 30| 09|1986|     1986-09-30|América do Sul|
| Colombia|     6|     MF|   C. SANCHEZ|  RCD Espanyol (ESP)|   182|  82| 06| 02|1986|     1986-02-06|América do Sul|
| Colombia|     8|     MF|   AGUILAR T.|AC Deportivo Cali...|   185|  82| 06| 01|1985|     1985-01-06|América do Sul|
| Colombia|    13|     DF|      Y. MINA|  FC Barcelona (ESP)|   194|  95| 23| 09|1994|     1994-09-23|América do Sul|
|     Peru|     7|     MF|      HURTADO|Vitoria Guimaraes...|   174|  66| 27| 07|1990|     1990-07-27|América do Sul|
|     Peru|    11|     FW|      RUIDIAZ|CA Monarcas Morel...|   169|  67| 25| 07|1990|     1990-07-25|América do Sul|
|     Peru|    22|     DF|       LOYOLA|    FBC Melgar (PER)|   179|  68| 26| 10|1994|     1994-10-26|América do Sul|
|     Peru|     8|     MF|        CUEVA|  Sao Paulo FC (BRA)|   169|  69| 23| 11|1991|     1991-11-23|América do Sul|
|     Peru|    19|     MF|        YOTUN|Orlando City SC (...|   172|  69| 07| 04|1990|     1990-04-07|América do Sul|
|     Peru|    14|     MF|         POLO|Portland Timbers ...|   174|  71| 29| 09|1994|     1994-09-29|América do Sul|
|     Peru|    23|     MF|       AQUINO|    Lobos BUAP (MEX)|   174|  71| 13| 04|1995|     1995-04-13|América do Sul|
|     Peru|    15|     DF|        RAMOS|CD Tiburones Rojo...|   182|  72| 04| 11|1988|     1988-11-04|América do Sul|
|     Peru|    20|     FW|       FLORES|    Aalborg BK (DEN)|   170|  72| 14| 05|1994|     1994-05-14|América do Sul|
|     Peru|     6|     DF|       TRAUCO|   CR Flamengo (BRA)|   169|  74| 25| 08|1992|     1992-08-25|América do Sul|
|     Peru|     3|     DF|        CORZO|Universitario Lim...|   172|  75| 20| 05|1989|     1989-05-20|América do Sul|
|     Peru|    16|     MF|    CARTAGENA|CD Tiburones Rojo...|   179|  76| 23| 09|1994|     1994-09-23|América do Sul|
|     Peru|     5|     DF|       ARAUJO|  Alianza Lima (PER)|   178|  77| 24| 10|1994|     1994-10-24|América do Sul|
|     Peru|    18|     FW|     CARRILLO|    Watford FC (ENG)|   182|  77| 14| 06|1991|     1991-06-14|América do Sul|
|     Peru|     2|     DF|    RODRIGUEZ|Atletico Junior (...|   179|  78| 31| 03|1984|     1984-03-31|América do Sul|
|     Peru|    12|     GK|       CACEDA|Deportivo Municip...|   184|  78| 27| 09|1991|     1991-09-27|América do Sul|
|     Peru|     1|     GK|      GALLESE|CD Tiburones Rojo...|   189|  79| 23| 02|1990|     1990-02-23|América do Sul|
|     Peru|    17|     DF|    ADVINCULA|    Lobos BUAP (MEX)|   178|  80| 02| 03|1990|     1990-03-02|América do Sul|
|     Peru|     4|     DF|   SANTAMARIA|     Puebla FC (MEX)|   183|  84| 10| 01|1992|     1992-01-10|América do Sul|
|     Peru|    21|     GK|     CARVALLO|Universidad Técni...|   182|  84| 01| 03|1986|     1986-03-01|América do Sul|
|     Peru|    10|     FW|       FARFAN|FC Lokomotiv Mosc...|   177|  85| 26| 10|1984|     1984-10-26|América do Sul|
|     Peru|    13|     MF|        TAPIA|Feyenoord Rotterd...|   185|  85| 28| 07|1995|     1995-07-28|América do Sul|
|     Peru|     9|     FW|     GUERRERO|   CR Flamengo (BRA)|   185|  88| 01| 01|1984|     1984-01-01|América do Sul|
|  Uruguay|     8|     MF|       NANDEZ|CA Boca Juniors (...|   171|  61| 28| 12|1995|     1995-12-28|América do Sul|
|  Uruguay|    14|     MF|     TORREIRA|  UC Sampdoria (ITA)|   168|  61| 11| 02|1996|     1996-02-11|América do Sul|
|  Uruguay|    10|     FW|DE ARRASCAETA|   Cruzeiro EC (BRA)|   172|  64| 01| 06|1994|     1994-06-01|América do Sul|
|  Uruguay|    17|     MF|       LAXALT|     Genoa CFC (ITA)|   178|  66| 07| 02|1993|     1993-02-07|América do Sul|
|  Uruguay|    20|     FW|URRETAVISCAYA|  CF Monterrey (MEX)|   172|  66| 19| 03|1990|     1990-03-19|América do Sul|
|  Uruguay|     4|     DF|       VARELA|    CA Penarol (URU)|   173|  70| 24| 03|1993|     1993-03-24|América do Sul|
|  Uruguay|     3|     DF|        GODIN|Atletico Madrid (...|   185|  73| 16| 02|1986|     1986-02-16|América do Sul|
|  Uruguay|     6|     MF|    BENTANCUR|   Juventus FC (ITA)|   187|  73| 25| 06|1997|     1997-06-25|América do Sul|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
only showing top 100 rows

In [39]:
df_americas.select('Selecao').distinct().show()

+----------+
|   Selecao|
+----------+
| Argentina|
|      Peru|
|   Uruguay|
|    Brazil|
|  Colombia|
|    Panama|
|    Mexico|
|Costa Rica|
+----------+

#### Joins

In [40]:
df.show(5)

+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|  Selecao|Numero|Posicao|Nome Camiseta|                Time|Altura|Peso|Dia|Mes| Ano|Data_Nascimento|    Continente|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
|Argentina|     3|     DF|   TAGLIAFICO|      AFC Ajax (NED)|   169|  65| 31| 08|1992|     1992-08-31|América do Sul|
|Argentina|    22|     MF|        PAVÓN|CA Boca Juniors (...|   169|  65| 21| 01|1996|     1996-01-21|América do Sul|
|Argentina|    15|     MF|      LANZINI|West Ham United F...|   167|  66| 15| 02|1993|     1993-02-15|América do Sul|
|Argentina|    18|     DF|       SALVIO|    SL Benfica (POR)|   167|  69| 13| 07|1990|     1990-07-13|América do Sul|
|Argentina|    10|     FW|        MESSI|  FC Barcelona (ESP)|   170|  72| 24| 06|1987|     1987-06-24|América do Sul|
+---------+------+-------+-------------+--------------------+------+----+---+---+----+---------------+--------------+
only showing top 5 rows

In [41]:
arg = df.filter('Selecao = "Argentina"')
bra = df.filter('Selecao = "Brazil"')

In [44]:
# Dropando algumas cols. para uma melhor visualização 
arg = arg.drop('Time', 'Dia', 'Mes', 'Ano', 'Continente', 'Peso', 'Data_Nascimento')
bra = bra.drop('Time', 'Dia', 'Mes', 'Ano', 'Continente', 'Peso', 'Data_Nascimento')

In [45]:
arg.show(5)

+---------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+
|Argentina|     3|     DF|   TAGLIAFICO|   169|
|Argentina|    22|     MF|        PAVÓN|   169|
|Argentina|    15|     MF|      LANZINI|   167|
|Argentina|    18|     DF|       SALVIO|   167|
|Argentina|    10|     FW|        MESSI|   170|
+---------+------+-------+-------------+------+
only showing top 5 rows

In [46]:
bra.show(5)

+-------+------+-------+-------------+------+
|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+-------+------+-------+-------------+------+
| Brazil|    18|     MF|         FRED|   169|
| Brazil|    21|     FW|       TAISON|   172|
| Brazil|    17|     MF|  FERNANDINHO|   179|
| Brazil|    22|     DF|       FAGNER|   168|
| Brazil|    10|     FW|    NEYMAR JR|   175|
+-------+------+-------+-------------+------+
only showing top 5 rows

In [47]:
print(bra.count())
print(arg.count())

23
23

In [48]:
# join simples
df_novo = arg.join(bra, arg.Numero == bra.Numero)
df_novo.show()

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     3|     DF|   TAGLIAFICO|   169| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    22|     MF|        PAVÓN|   169| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    15|     MF|      LANZINI|   167| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    18|     DF|       SALVIO|   167| Brazil|    18|     MF|         FRED|   169|
|Argentina|    10|     FW|        MESSI|   170| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|     4|     DF|      ANSALDI|   181| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     MF|       BIGLIA|   175| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     7|     MF|       BANEGA|   175| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|    14|     DF|   MASCHERANO|   174| Brazil|    14|     DF|       DANILO|   184|
|Argentina|    21|     FW|       DYBALA|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    19|     FW|       AGÜERO|   172| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|     9|     FW|      HIGUAÍN|   184| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    11|     MF|     DI MARÍA|   178| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|    20|     MF|     LO CELSO|   177| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    13|     MF|         MEZA|   180| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|     8|     DF|        ACUÑA|   172| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    23|     GK|    CABALLERO|   186| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|     2|     DF|      MERCADO|   181| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|    17|     DF|     OTAMENDI|   181| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    16|     DF|         ROJO|   189| Brazil|    16|     GK|       CASSIO|   195|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
only showing top 20 rows

In [53]:
arg = arg.withColumn('Numero', col('Numero')+1)

#### Inner Join

In [54]:
df_novo = arg.join(bra, arg['Numero'] == bra['Numero'], 'inner')
df_novo.show()

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
only showing top 20 rows

#### Left Join

In [55]:
df_novo = arg.join(bra, arg['Numero'] == bra['Numero'], 'left')
df_novo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    24|     GK|    CABALLERO|   186|   null|  null|   null|         null|  null|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

####Right join

In [56]:
df_novo = arg.join(bra, arg['Numero'] == bra['Numero'], 'right')
df_novo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|     null|  null|   null|         null|  null| Brazil|     1|     GK|    A. BECKER|   193|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

Full Join

In [57]:
# Mostra todas as linhas tendo ou não correspondência
df_novo = arg.join(bra, arg['Numero'] == arg['Numero'], 'full')
df_novo.show(50)

+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+
|     null|  null|   null|         null|  null| Brazil|     1|     GK|    A. BECKER|   193|
|Argentina|     2|     GK|       GUZMÁN|   192| Brazil|     2|     DF|     T. SILVA|   183|
|Argentina|     3|     DF|      MERCADO|   181| Brazil|     3|     DF|      MIRANDA|   186|
|Argentina|     4|     DF|   TAGLIAFICO|   169| Brazil|     4|     DF|      GEROMEL|   190|
|Argentina|     5|     DF|      ANSALDI|   181| Brazil|     5|     MF|     CASEMIRO|   185|
|Argentina|     6|     MF|       BIGLIA|   175| Brazil|     6|     DF|  FILIPE LUIS|   182|
|Argentina|     7|     DF|        FAZIO|   199| Brazil|     7|     FW|     D. COSTA|   182|
|Argentina|     8|     MF|       BANEGA|   175| Brazil|     8|     MF|   R. AUGUSTO|   186|
|Argentina|     9|     DF|        ACUÑA|   172| Brazil|     9|     FW|     G. JESUS|   175|
|Argentina|    10|     FW|      HIGUAÍN|   184| Brazil|    10|     FW|    NEYMAR JR|   175|
|Argentina|    11|     FW|        MESSI|   170| Brazil|    11|     MF|  P. COUTINHO|   172|
|Argentina|    12|     MF|     DI MARÍA|   178| Brazil|    12|     DF|      MARCELO|   174|
|Argentina|    13|     GK|       ARMANI|   189| Brazil|    13|     DF|   MARQUINHOS|   183|
|Argentina|    14|     MF|         MEZA|   180| Brazil|    14|     DF|       DANILO|   184|
|Argentina|    15|     DF|   MASCHERANO|   174| Brazil|    15|     MF|     PAULINHO|   181|
|Argentina|    16|     MF|      LANZINI|   167| Brazil|    16|     GK|       CASSIO|   195|
|Argentina|    17|     DF|         ROJO|   189| Brazil|    17|     MF|  FERNANDINHO|   179|
|Argentina|    18|     DF|     OTAMENDI|   181| Brazil|    18|     MF|         FRED|   169|
|Argentina|    19|     DF|       SALVIO|   167| Brazil|    19|     MF|      WILLIAN|   175|
|Argentina|    20|     FW|       AGÜERO|   172| Brazil|    20|     FW|      FIRMINO|   181|
|Argentina|    21|     MF|     LO CELSO|   177| Brazil|    21|     FW|       TAISON|   172|
|Argentina|    22|     FW|       DYBALA|   177| Brazil|    22|     DF|       FAGNER|   168|
|Argentina|    23|     MF|        PAVÓN|   169| Brazil|    23|     GK|      EDERSON|   188|
|Argentina|    24|     GK|    CABALLERO|   186|   null|  null|   null|         null|  null|
+---------+------+-------+-------------+------+-------+------+-------+-------------+------+

Semi Join

In [58]:
# Similar ao inner join, porém apenas os dados do dataframe esquerdo é mostrado
df_novo = arg.join(bra, arg['Numero'] == bra['Numero'], 'semi')
df_novo.show(40)

+---------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+
|Argentina|     4|     DF|   TAGLIAFICO|   169|
|Argentina|    23|     MF|        PAVÓN|   169|
|Argentina|    16|     MF|      LANZINI|   167|
|Argentina|    19|     DF|       SALVIO|   167|
|Argentina|    11|     FW|        MESSI|   170|
|Argentina|     5|     DF|      ANSALDI|   181|
|Argentina|     6|     MF|       BIGLIA|   175|
|Argentina|     8|     MF|       BANEGA|   175|
|Argentina|    15|     DF|   MASCHERANO|   174|
|Argentina|    22|     FW|       DYBALA|   177|
|Argentina|    20|     FW|       AGÜERO|   172|
|Argentina|    10|     FW|      HIGUAÍN|   184|
|Argentina|    12|     MF|     DI MARÍA|   178|
|Argentina|    21|     MF|     LO CELSO|   177|
|Argentina|    14|     MF|         MEZA|   180|
|Argentina|     9|     DF|        ACUÑA|   172|
|Argentina|     3|     DF|      MERCADO|   181|
|Argentina|    18|     DF|     OTAMENDI|   181|
|Argentina|    17|     DF|         ROJO|   189|
|Argentina|     7|     DF|        FAZIO|   199|
|Argentina|    13|     GK|       ARMANI|   189|
|Argentina|     2|     GK|       GUZMÁN|   192|
+---------+------+-------+-------------+------+

Anti Join

In [59]:
# mostra os dados do DF do lado esquerdo que não possuem correspondências com o df do brasil
df_novo = arg.join(bra, arg['Numero'] == bra['Numero'], 'anti')
df_novo.show(50)

+---------+------+-------+-------------+------+
|  Selecao|Numero|Posicao|Nome Camiseta|Altura|
+---------+------+-------+-------------+------+
|Argentina|    24|     GK|    CABALLERO|   186|
+---------+------+-------+-------------+------+

In [60]:
df_novo = bra.join(arg, arg['Numero'] == bra['Numero'], 'anti')
df_novo.show(50)

+-------+------+-------+-------------+------+
|Selecao|Numero|Posicao|Nome Camiseta|Altura|
+-------+------+-------+-------------+------+
| Brazil|     1|     GK|    A. BECKER|   193|
+-------+------+-------+-------------+------+