# PySpark - Alcoolismo no Ensino Médio e Desempenho Acadêmico

## Instalando o pyspark

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=10de5fc08acc6d84755e352c3406f759a555f0d103516079056e606b9bbceda2
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

## Importando as libs

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import (StructField,
                               StructType,
                               StringType,
                               IntegerType)
from pyspark.sql import functions as F
import pandas as pd

## Criando a Sessão

In [ ]:
spark = (
    SparkSession\
    .builder\
    .master('local')\
    .appName('school_analysis')\
    .getOrCreate()
)

## Criando o Schema

In [ ]:
schema_ = StructType([
    StructField('escola', StringType(), nullable = True),
    StructField('sexo', StringType(), nullable = True),
    StructField('idade', IntegerType(), nullable = True),
    StructField('tp_moradia', StringType(), nullable = True),
    StructField('tamanho_familia', StringType(), nullable = True),
    StructField('situacao_pais', StringType(), nullable = True),
    StructField('educacao_mae', StringType(), nullable = True),
    StructField('educacao_pai', StringType(), nullable = True),
    StructField('trabalho_mae', StringType(), nullable = True),
    StructField('trabalho_pai', StringType(), nullable = True),
    StructField('motivo_escolha_escolar', StringType(), nullable = True),
    StructField('responsavel_legal', StringType(), nullable = True),
    StructField('tempo_ida_escola', StringType(), nullable = True),
    StructField('tempo_estudo_semanal', StringType(), nullable = True),
    StructField('apoio_educacao_extra', StringType(), nullable = True),
    StructField('apoio_educacao_pais', StringType(), nullable = True),
    StructField('aulas_particulares', StringType(), nullable = True),
    StructField('atividade_extracurricular', StringType(), nullable = True),
    StructField('frequentou_creche', StringType(), nullable = True),
    StructField('quer_fazer_graduacao', StringType(), nullable = True),
    StructField('tem_internet', StringType(), nullable = True),
    StructField('namorando', StringType(), nullable = True),
    StructField('boa_convivencia_familiar', StringType(), nullable = True),
    StructField('tempo_livre_apos_escola', StringType(), nullable = True),
    StructField('tempo_com_amigos', StringType(), nullable = True),
    StructField('alcool_dia_util', StringType(), nullable = True),
    StructField('alcool_fim_semana', StringType(), nullable = True),
    StructField('estado_saude', StringType(), nullable = True),
    StructField('falta_escolar', IntegerType(), nullable = True),
    StructField('nota_1semestre', IntegerType(), nullable = True),
    StructField('nota_2semestre', IntegerType(), nullable = True)
])

## Importando o dataset

In [ ]:
df = spark\
    .read\
    .format('csv')\
    .option('header', 'true')\
    .schema(schema_)\
    .load('/content/lpor_explorer.csv')

## Tratamento dos Dados

### Verificando os dados 5 primeiros dados

In [ ]:
df.show(5)

+---------------+------+-----+----------+---------------+--------------+--------------------+--------------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
|         escola|  sexo|idade|tp_moradia|tamanho_familia| situacao_pais|        educacao_mae|        educacao_pai|trabalho_mae|trabalho_pai|motivo_escolha_escolar|responsavel_legal|tempo_ida_escola|tempo_estudo_semanal|apoio_educacao_extra|apoio_educacao_pais|aulas_particulares|atividade_extracurricular|frequentou_creche|quer_fazer_graduacao|tem_internet|namorando|boa_convivencia_familiar|tempo_livre_apos_escola|tempo_com_amigos|alcool_dia_util|alcool_fim_semana|estado_saude|falta_escolar|nota_1semestre|nota_2semestre|
+---------------+------+-----+----------+---------------+--------------+--------------------+--------------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
|Gabriel Pereira|Mulher|   18|    Urbano|     Acima de 3|     Separados|     Ensino Superior|     Ensino Superior|      Do Lar|   Professor|  Preferência pelo ...|              Mãe|     15 a 30 min|              2 a 5h|                 Sim|                Não|               Não|                      Não|              Sim|                 Sim|         Não|      Não|                     Bom|               Moderado|            Alto|    Muito Baixo|      Muito Baixo|    Razoavel|            4|             0|            11|
|Gabriel Pereira|Mulher|   17|    Urbano|     Acima de 3|Morando Juntos|Ensino Fundamental 1|Ensino Fundamental 1|      Do Lar|       other|  Preferência pelo ...|              Pai|      Até 15 min|              2 a 5h|                 Não|                Sim|               Não|                      Não|              Não|                 Sim|         Sim|      Não|               Excelente|               Moderado|        Moderado|    Muito Baixo|      Muito Baixo|    Razoavel|            2|             9|            11|
|Gabriel Pereira|Mulher|   15|    Urbano|          Até 3|Morando Juntos|Ensino Fundamental 1|Ensino Fundamental 1|      Do Lar|       other|                 Outro|              Mãe|      Até 15 min|              2 a 5h|                 Sim|                Não|               Não|                      Não|              Sim|                 Sim|         Sim|      Não|                     Bom|               Moderado|           Baixo|          Baixo|         Moderado|    Razoavel|            6|            12|            13|
|Gabriel Pereira|Mulher|   15|    Urbano|     Acima de 3|Morando Juntos|     Ensino Superior|Ensino Fundamental 2|       Saúde|    Serviços|         Perto de Casa|              Mãe|      Até 15 min|             5 a 10h|                 Não|                Sim|               Não|                      Sim|              Sim|                 Sim|         Sim|      Sim|                Razoavel|                  Baixo|           Baixo|    Muito Baixo|      Muito Baixo|   Muito Bom|            0|            14|            14|
|Gabriel Pereira|Mulher|   16|    Urbano|     Acima de 3|Morando Juntos|        Ensino Médio|        Ensino Médio|       other|       other|         Perto de Casa|              Pai|      Até 15 min|              2 a 5h|                 Não|                Sim|               Não|                      Não|              Sim|                 Sim|         Não|      Não|                     Bom|               Moderado|           Baixo|    Muito Baixo|            Baixo|   Muito Bom|            0|            11|            13|
+---------------+------+-----+----------+---------------+--------------+--------------------+--------------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
only showing top 5 rows

### Verificando a quantidade de dados únicos de cada coluna

#### Exemplo 1

In [ ]:
(
    df
    .select(F.col('escola'))
    .groupBy('escola')
    .count()
    .show()
)

+--------------------+-----+
|              escola|count|
+--------------------+-----+
|Mousinho da Silveira|  226|
|     Gabriel Pereira|  423|
+--------------------+-----+

#### Exemplo 2

In [ ]:
(
    df
    .groupBy('escola')
    .agg(F.count('escola').alias('qtd. alunos'))
).show()

+--------------------+-----------+
|              escola|qtd. alunos|
+--------------------+-----------+
|Mousinho da Silveira|        226|
|     Gabriel Pereira|        423|
+--------------------+-----------+

#### Exemplo 3

In [ ]:
for coluna in df.columns:
    '''Retorna um DataFrame com o nome e a qtd. de dados únicos
    coluna: str
    '''
    print('*' * 10, coluna.upper(), '*' * 10)
    (
        df
        .groupBy(coluna)
        .agg(F.count(coluna).alias(f'qtd'))
    ).show()

********** ESCOLA **********
+--------------------+---+
|              escola|qtd|
+--------------------+---+
|Mousinho da Silveira|226|
|     Gabriel Pereira|423|
+--------------------+---+

********** SEXO **********
+------+---+
|  sexo|qtd|
+------+---+
| Homem|266|
|Mulher|383|
+------+---+

********** IDADE **********
+-----+---+
|idade|qtd|
+-----+---+
|   22|  1|
|   16|177|
|   20|  6|
|   19| 32|
|   15|112|
|   17|179|
|   21|  2|
|   18|140|
+-----+---+

********** TP_MORADIA **********
+----------+---+
|tp_moradia|qtd|
+----------+---+
|    Urbano|452|
|     Rural|197|
+----------+---+

********** TAMANHO_FAMILIA **********
+---------------+---+
|tamanho_familia|qtd|
+---------------+---+
|          Até 3|192|
|     Acima de 3|457|
+---------------+---+

********** SITUACAO_PAIS **********
+--------------+---+
| situacao_pais|qtd|
+--------------+---+
|     Separados| 80|
|Morando Juntos|569|
+--------------+---+

********** EDUCACAO_MAE **********
+--------------------+---+
|        educacao_mae|qtd|
+--------------------+---+
|     Ensino Superior|175|
|Ensino Fundamental 1|143|
|             Nenhuma|  6|
|        Ensino Médio|139|
|Ensino Fundamental 2|186|
+--------------------+---+

********** EDUCACAO_PAI **********
+--------------------+---+
|        educacao_pai|qtd|
+--------------------+---+
|     Ensino Superior|128|
|Ensino Fundamental 1|174|
|             Nenhuma|  7|
|        Ensino Médio|131|
|Ensino Fundamental 2|209|
+--------------------+---+

********** TRABALHO_MAE **********
+------------+---+
|trabalho_mae|qtd|
+------------+---+
|       other|258|
|      Do Lar|135|
|       Saúde| 48|
|   Professor| 72|
|    Serviços|136|
+------------+---+

********** TRABALHO_PAI **********
+------------+---+
|trabalho_pai|qtd|
+------------+---+
|       other|367|
|      Do Lar| 42|
|       Saúde| 23|
|   Professor| 36|
|    Serviços|181|
+------------+---+

********** MOTIVO_ESCOLHA_ESCOLAR **********
+----------------------+---+
|motivo_escolha_escolar|qtd|
+----------------------+---+
|             Reputação|143|
|  Preferência pelo ...|285|
|                 Outro| 72|
|         Perto de Casa|149|
+----------------------+---+

********** RESPONSAVEL_LEGAL **********
+-----------------+---+
|responsavel_legal|qtd|
+-----------------+---+
|              Mãe|455|
|              Pai|153|
|            Outro| 41|
+-----------------+---+

********** TEMPO_IDA_ESCOLA **********
+----------------+---+
|tempo_ida_escola|qtd|
+----------------+---+
|     15 a 30 min|213|
|     30 min a 1h| 54|
|      Até 15 min|366|
|      Mais de 1h| 16|
+----------------+---+

********** TEMPO_ESTUDO_SEMANAL **********
+--------------------+---+
|tempo_estudo_semanal|qtd|
+--------------------+---+
|         Mais de 10h| 35|
|             Até 2h,|212|
|              2 a 5h|305|
|             5 a 10h| 97|
+--------------------+---+

********** APOIO_EDUCACAO_EXTRA **********
+--------------------+---+
|apoio_educacao_extra|qtd|
+--------------------+---+
|                 Não|581|
|                 Sim| 68|
+--------------------+---+

********** APOIO_EDUCACAO_PAIS **********
+-------------------+---+
|apoio_educacao_pais|qtd|
+-------------------+---+
|                Não|251|
|                Sim|398|
+-------------------+---+

********** AULAS_PARTICULARES **********
+------------------+---+
|aulas_particulares|qtd|
+------------------+---+
|               Não|610|
|               Sim| 39|
+------------------+---+

********** ATIVIDADE_EXTRACURRICULAR **********
+-------------------------+---+
|atividade_extracurricular|qtd|
+-------------------------+---+
|                      Não|334|
|                      Sim|315|
+-------------------------+---+

********** FREQUENTOU_CRECHE **********
+-----------------+---+
|frequentou_creche|qtd|
+-----------------+---+
|              Não|128|
|              Sim|521|
+-----------------+---+

********** QUER_FAZER_GRADUACAO **********
+--------------------+---+
|quer_fazer_graduacao|qtd|
+--------------------+---+
|                 Não| 69|
|                 Sim|580|
+--------------------+---+

********** TEM_INTERNET **********
+------------+---+
|tem_internet|qtd|
+------------+---+
|         Não|151|
|         Sim|498|
+------------+---+

********** NAMORANDO **********
+---------+---+
|namorando|qtd|
+---------+---+
|      Não|410|
|      Sim|239|
+---------+---+

********** BOA_CONVIVENCIA_FAMILIAR **********
+------------------------+---+
|boa_convivencia_familiar|qtd|
+------------------------+---+
|                     Bom|317|
|               Excelente|180|
|              Muito Ruim| 22|
|                Razoavel|101|
|                    Ruim| 29|
+------------------------+---+

********** TEMPO_LIVRE_APOS_ESCOLA **********
+-----------------------+---+
|tempo_livre_apos_escola|qtd|
+-----------------------+---+
|               Moderado|251|
|                  Baixo|107|
|                   Alto|178|
|            Muito Baixo| 45|
|             Muito Alto| 68|
+-----------------------+---+

********** TEMPO_COM_AMIGOS **********
+----------------+---+
|tempo_com_amigos|qtd|
+----------------+---+
|        Moderado|205|
|           Baixo|145|
|            Alto|141|
|     Muito Baixo| 48|
|      Muito Alto|110|
+----------------+---+

********** ALCOOL_DIA_UTIL **********
+---------------+---+
|alcool_dia_util|qtd|
+---------------+---+
|       Moderado| 43|
|          Baixo|121|
|    Muito Baixo|451|
|           Alto| 17|
|     Muito Alto| 17|
+---------------+---+

********** ALCOOL_FIM_SEMANA **********
+-----------------+---+
|alcool_fim_semana|qtd|
+-----------------+---+
|         Moderado|120|
|            Baixo|150|
|      Muito Baixo|247|
|             Alto| 87|
|       Muito Alto| 45|
+-----------------+---+

********** ESTADO_SAUDE **********
+------------+---+
|estado_saude|qtd|
+------------+---+
|         Bom|108|
|  Muito Ruim| 90|
|    Razoavel|124|
|   Muito Bom|249|
|        Ruim| 78|
+------------+---+

********** FALTA_ESCOLAR **********
+-------------+---+
|falta_escolar|qtd|
+-------------+---+
|           26|  1|
|           12| 12|
|           22|  2|
|            1| 12|
|           13|  1|
|            6| 49|
|           16| 10|
|            3|  7|
|            5| 12|
|           15|  2|
|            9|  7|
|            4| 93|
|            8| 42|
|            7|  3|
|           10| 21|
|           24|  1|
|           21|  2|
|           32|  1|
|           11|  5|
|           14|  8|
+-------------+---+
only showing top 20 rows

********** NOTA_1SEMESTRE **********
+--------------+---+
|nota_1semestre|qtd|
+--------------+---+
|            12| 82|
|            13| 72|
|            16| 22|
|             6|  9|
|             5|  5|
|            19|  1|
|            15| 35|
|             9| 65|
|            17| 16|
|             4|  2|
|             8| 42|
|             7| 33|
|            10| 95|
|            11| 91|
|            14| 71|
|             0|  1|
|            18|  7|
+--------------+---+

********** NOTA_2SEMESTRE **********
+--------------+---+
|nota_2semestre|qtd|
+--------------+---+
|            12| 86|
|            13| 80|
|            16| 25|
|             6|  7|
|             5|  3|
|            19|  1|
|            15| 38|
|            17| 20|
|             9| 72|
|             8| 40|
|             7| 16|
|            10| 83|
|            11|103|
|            14| 54|
|             0|  7|
|            18| 14|
+--------------+---+

#### Alterando os valores de algumas colunas

In [ ]:
df.show(1)

+---------------+------+-----+----------+---------------+-------------+---------------+---------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
|         escola|  sexo|idade|tp_moradia|tamanho_familia|situacao_pais|   educacao_mae|   educacao_pai|trabalho_mae|trabalho_pai|motivo_escolha_escolar|responsavel_legal|tempo_ida_escola|tempo_estudo_semanal|apoio_educacao_extra|apoio_educacao_pais|aulas_particulares|atividade_extracurricular|frequentou_creche|quer_fazer_graduacao|tem_internet|namorando|boa_convivencia_familiar|tempo_livre_apos_escola|tempo_com_amigos|alcool_dia_util|alcool_fim_semana|estado_saude|falta_escolar|nota_1semestre|nota_2semestre|
+---------------+------+-----+----------+---------------+-------------+---------------+---------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
|Gabriel Pereira|Mulher|   18|    Urbano|     Acima de 3|    Separados|Ensino Superior|Ensino Superior|      Do Lar|   Professor|  Preferência pelo ...|              Mãe|     15 a 30 min|              2 a 5h|                 Sim|                Não|               Não|                      Não|              Sim|                 Sim|         Não|      Não|                     Bom|               Moderado|            Alto|    Muito Baixo|      Muito Baixo|    Razoavel|            4|             0|            11|
+---------------+------+-----+----------+---------------+-------------+---------------+---------------+------------+------------+----------------------+-----------------+----------------+--------------------+--------------------+-------------------+------------------+-------------------------+-----------------+--------------------+------------+---------+------------------------+-----------------------+----------------+---------------+-----------------+------------+-------------+--------------+--------------+
only showing top 1 row

In [ ]:
df = df.withColumn('sexo',
                  F.when(F.col('sexo') == 'Mulher', 'M')
                  .when(F.col('sexo') == 'Homem', 'H')
                  .when(F.col('sexo').isNull(), "O")
                  .otherwise(F.col('sexo')))\
      .withColumn('situacao_pais',
                  F.when(F.col('situacao_pais') == 'Morando Juntos', 'Juntos')
                  .otherwise(F.col('situacao_pais')))\
      .withColumn('trabalho_mae',
                  F.when(F.col('trabalho_mae') == 'other', 'Outros')
                  .otherwise(F.col('trabalho_mae')))\
      .withColumn('trabalho_pai',
                  F.when(F.col('trabalho_pai') == 'other', 'Outros')
                  .otherwise(F.col('trabalho_pai')))\
      .withColumn('tempo_estudo_semanal',
                  F.when(F.col('tempo_estudo_semanal') == 'Até 2h,', 'Até 2h')
                  .otherwise(F.col('tempo_estudo_semanal')))

## Análise dos Dados

### 1. Qual é o total de escolas registradas na tabela?

In [ ]:
(
    df
    .select('escola')
    .groupBy('escola')
    .count()
    .show()
)

+--------------------+-----+
|              escola|count|
+--------------------+-----+
|Mousinho da Silveira|  226|
|     Gabriel Pereira|  423|
+--------------------+-----+

### 2. Quantos alunos do sexo masculino foram entrevistados?

In [ ]:
(
    df
    .filter(
        F.col('sexo') == 'M'
    )
    .count()
)

383

### 3. Qual é a média de idade dos alunos entrevistados?

In [ ]:
(
    df
    .select(
        F.mean('idade')
        .alias('Média (idade)')
    )
    .show()
    #.agg({'idade': 'mean'})
)

+----------------+
|   Média (idade)|
+----------------+
|16.7442218798151|
+----------------+

### 4. Quantos alunos moram em áreas urbanas?

In [ ]:
(
    df
    .filter(
        F.col('tp_moradia') == 'Urbano'
    )
    .count()
)

452

### 5. Qual é a proporção de alunos com tamanho de família acima de 3?

In [ ]:
total_alunos = df.count()

acima_de_3 = (
    df.filter(
        F.col('tamanho_familia') == 'Acima de 3'
    )
    .count()
)

proporcao = acima_de_3 / total_alunos
print(f'{proporcao * 100:.2f}%')

70.42%

### 6. Quantos alunos têm pais separados?

In [ ]:
(
    df
    .filter(
        F.col('situacao_pais') == 'Separados'
    )
    .count()
)

80

### 7. Qual é a categoria de educação da maioria das mães dos alunos?

In [ ]:
(
    df
    .select(
        F.col('educacao_mae')
    )
    .groupBy(F.col('educacao_mae'))
    .count()
    .orderBy(F.desc('count'))
    .show(1)
)

+--------------------+-----+
|        educacao_mae|count|
+--------------------+-----+
|Ensino Fundamental 2|  186|
+--------------------+-----+
only showing top 1 row

### 8. Qual é a categoria de educação do pai com menor representação?

In [ ]:
(
    df
    .select(
        F.col('educacao_pai')
    )
    .groupBy(F.col('educacao_pai'))
    .count()
    .orderBy('educacao_pai', ascending = False)
    .show(1)
)

+------------+-----+
|educacao_pai|count|
+------------+-----+
|     Nenhuma|    7|
+------------+-----+
only showing top 1 row

### 9. Quantos alunos têm as mães trabalhando na área de saúde?

In [ ]:
(
    df
    .filter(
        F.col('trabalho_mae') == 'Saúde'
    )
    .count()
)

48

### 10. Qual é o motivo mais comum para a escolha da escola pelos alunos?

In [ ]:
(
    df
    .select(
        F.col('motivo_escolha_escolar')
    )
    .groupby(F.col('motivo_escolha_escolar'))
    .count()
    .orderBy(F.desc('count'))
    .show(1, truncate=False)
)

+----------------------+-----+
|motivo_escolha_escolar|count|
+----------------------+-----+
|Preferência pelo Curso|285  |
+----------------------+-----+
only showing top 1 row

### 11. Quem é o responsável legal pela maioria dos alunos?

In [ ]:
(
    df
    .select(
        F.col('responsavel_legal')
    )
    .groupBy('responsavel_legal')
    .count()
    .orderBy('responsavel_legal', ascending=True)
    .show(1)
)

+-----------------+-----+
|responsavel_legal|count|
+-----------------+-----+
|              Mãe|  455|
+-----------------+-----+
only showing top 1 row

### 12. Quantos alunos gastam mais de 30 minutos para ir à escola?

In [ ]:
(
    df
    .filter(
        ~F.col('tempo_ida_escola')
        .isin(['Até 15 min', '15 a 30 min'])
    )
    .count()
)

70

### 13. Quantos alunos recebem apoio de educação extra?

In [ ]:
(
    df
    .filter(
        F.col('apoio_educacao_extra') == 'Sim'
    )
    .count()
)

68

### 14. Quantos alunos frequentaram creche?

In [ ]:
(
    df
    .filter(
        F.col('frequentou_creche') == 'Sim'
    )
    .count()
)

521

### 15. Qual é a porcentagem de alunos que desejam fazer graduação?

In [ ]:
(
    round(
        df
        .filter(
            F.col('quer_fazer_graduacao') == 'Sim'
        )
        .count() / (total_alunos / 100), 2
    )
)

89.37

### 16. Qual é a distribuição dos alunos em termos de convivência familiar?

In [ ]:
(
    df
    .select(
        F.col('boa_convivencia_familiar')
    )
    .groupBy(F.col('boa_convivencia_familiar'))
    .count()
    .orderBy(F.desc('count'))
    .show()
)

+------------------------+-----+
|boa_convivencia_familiar|count|
+------------------------+-----+
|                     Bom|  317|
|               Excelente|  180|
|                Razoavel|  101|
|                    Ruim|   29|
|              Muito Ruim|   22|
+------------------------+-----+

### 17. Quantos alunos têm uma boa convivência familiar e também possuem uma nota acima da média (considerando as notas do 1º e 2º semestres)?

In [ ]:
df = df.withColumn('media_geral', (F.col('nota_1semestre') + F.col('nota_2semestre')) / 2)

media_geral_media = df.agg(F.avg('media_geral')).first()[0]

(
    df
    .filter(
        F.col('boa_convivencia_familiar').isin(['Bom', 'Excelente'])
    )
    .filter(
        F.col('media_geral') > media_geral_media
    ).count()
)

273

### 18. Qual é a média de falta escolar entre os alunos do sexo masculino e do sexo feminino?

In [ ]:
(
    df
    .filter(
        F.col('sexo')
        .isin(['M', 'H'])
    )
    .agg(
        F.avg('falta_escolar')
        .alias('Média - Falta Escolar')
    )
    .show()
)

+---------------------+
|Média - Falta Escolar|
+---------------------+
|   3.6594761171032357|
+---------------------+

### 19. Quais são as cinco escolas com o maior número de alunos que desejam fazer graduação?

In [ ]:
(
    df
    .filter(
        F.col('quer_fazer_graduacao') == 'Sim'
    )
    .groupBy('escola')
    .agg(
        F.count('quer_fazer_graduacao')
        .alias('total')
    )
    .orderBy(F.desc('total'))
    .show(5)
)

+--------------------+-----+
|              escola|total|
+--------------------+-----+
|     Gabriel Pereira|  391|
|Mousinho da Silveira|  189|
+--------------------+-----+

### 20. Calcule a porcentagem de alunos que frequentaram creche entre aqueles que têm uma boa convivência familiar.

In [ ]:
(
    df
    .filter(
        (F.col('frequentou_creche') == 'Sim') &
        (F.col('boa_convivencia_familiar')
        .isin(['Bom','Excelente']))
    )
    .count() / total_alunos * 100

)

62.40369799691834

### 25. Crie uma consulta que retorne a distribuição de notas para cada tempo de estudo semanal. Ou seja, para cada intervalo de tempo de estudo semanal, mostre a quantidade de alunos que obteve cada nota no 1º semestre.

In [ ]:
(
    df
    .filter(
        F.col('nota_1semestre').isNotNull()
    )
    .groupBy(F.col('tempo_estudo_semanal'), F.col('nota_1semestre'))
    .count()
    .orderBy('tempo_estudo_semanal', 'nota_1semestre')
    .show()
)

+--------------------+--------------+-----+
|tempo_estudo_semanal|nota_1semestre|count|
+--------------------+--------------+-----+
|              2 a 5h|             0|    1|
|              2 a 5h|             4|    1|
|              2 a 5h|             5|    2|
|              2 a 5h|             6|    3|
|              2 a 5h|             7|   14|
|              2 a 5h|             8|   21|
|              2 a 5h|             9|   25|
|              2 a 5h|            10|   40|
|              2 a 5h|            11|   42|
|              2 a 5h|            12|   46|
|              2 a 5h|            13|   36|
|              2 a 5h|            14|   32|
|              2 a 5h|            15|   16|
|              2 a 5h|            16|   17|
|              2 a 5h|            17|    8|
|              2 a 5h|            18|    1|
|             5 a 10h|             7|    3|
|             5 a 10h|             8|    2|
|             5 a 10h|             9|    4|
|             5 a 10h|            10|   14|
+--------------------+--------------+-----+
only showing top 20 rows