In [ ]:
%%sh
sudo pip install spark
sudo pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
Building wheels for collected packages: spark
  Building wheel for spark (setup.py): started
  Building wheel for spark (setup.py): finished with status 'done'
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58762 sha256=5590a8349453d603375e4e56ec3e66d4d1e3d183dfdadcd5be711ed10016df60
  Stored in directory: /root/.cache/pip/wheels/4e/0e/f1/164619f9920fb447d294afaae11a7715bd442ded7225953d72
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=16b095d60c7f8f1c7667cbd4f00185d6e6528a92688d881b4e8b4fd0f6126ee0
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('RDD_P1').getOrCreate()
sc = spark.sparkContext

In [ ]:
# RDD
numeros = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [ ]:
# Exibe as 5 primeiras linhas
numeros.take(5)

[1, 2, 3, 4, 5]

In [ ]:
# Exibe os 5 maiores elementos
numeros.top(5)

[10, 9, 8, 7, 6]

In [ ]:
# Exibe todos os dados
numeros.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# qtd de números
print(numeros.count())

# media
print(numeros.mean())

# soma
print(numeros.sum())

# maior valor
print(numeros.max())

# menor valor
print(numeros.min())

# desvio padrao
print(numeros.stdev())

10
5.5
55
10
1
2.8722813232690143

In [ ]:
# Filtro
# Retorna os números que são maiores que 2 
filtro = numeros.filter(lambda filtro: filtro > 2)
filtro.collect()

[3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Amostra

amostra = numeros.sample(True, 0.5, 1)
amostra.collect()

[2, 3, 4, 5, 8, 10, 10, 10, 10]

In [ ]:
# mapa
mapa = numeros.map(lambda mapa: mapa * 2)
mapa.collect()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# RDD 2
numeros2 = sc.parallelize([6, 7, 8, 9, 10])

In [ ]:
# Unindo numero + numeros2
uniao = numeros.union(numeros2)
uniao.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [ ]:
# Elementos comuns entre os 2 dataframe
interseccao = numeros.intersection(numeros2)
print('numeros:     ', numeros.collect())
print('numeros2:    ', numeros2.collect())
print('interseccao: ',interseccao.collect())

numeros:      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros2:     [6, 7, 8, 9, 10]
interseccao:  [8, 9, 6, 10, 7]

In [ ]:
# Diferença entra os 2 dataframe
diferenca = numeros.subtract(numeros2)
print('numeros:     ', numeros.collect())
print('numeros2:    ', numeros2.collect())
print('diferença:   ',diferenca.collect())

numeros:      [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numeros2:     [6, 7, 8, 9, 10]
diferença:    [4, 1, 5, 2, 3]

In [ ]:
# plano cartesiano
cartesiano = numeros.cartesian(numeros2)
cartesiano.collect()

[(1, 6),
 (1, 7),
 (2, 6),
 (2, 7),
 (3, 6),
 (3, 7),
 (4, 6),
 (4, 7),
 (5, 6),
 (5, 7),
 (1, 8),
 (1, 9),
 (2, 8),
 (2, 9),
 (3, 8),
 (3, 9),
 (4, 8),
 (4, 9),
 (5, 8),
 (5, 9),
 (1, 10),
 (2, 10),
 (3, 10),
 (4, 10),
 (5, 10),
 (6, 6),
 (6, 7),
 (7, 6),
 (7, 7),
 (8, 6),
 (8, 7),
 (9, 6),
 (9, 7),
 (10, 6),
 (10, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 8),
 (8, 9),
 (9, 8),
 (9, 9),
 (10, 8),
 (10, 9),
 (6, 10),
 (7, 10),
 (8, 10),
 (9, 10),
 (10, 10)]

In [ ]:
cartesiano.countByValue()

defaultdict(int,
            {(1, 6): 1,
             (1, 7): 1,
             (2, 6): 1,
             (2, 7): 1,
             (3, 6): 1,
             (3, 7): 1,
             (4, 6): 1,
             (4, 7): 1,
             (5, 6): 1,
             (5, 7): 1,
             (1, 8): 1,
             (1, 9): 1,
             (2, 8): 1,
             (2, 9): 1,
             (3, 8): 1,
             (3, 9): 1,
             (4, 8): 1,
             (4, 9): 1,
             (5, 8): 1,
             (5, 9): 1,
             (1, 10): 1,
             (2, 10): 1,
             (3, 10): 1,
             (4, 10): 1,
             (5, 10): 1,
             (6, 6): 1,
             (6, 7): 1,
             (7, 6): 1,
             (7, 7): 1,
             (8, 6): 1,
             (8, 7): 1,
             (9, 6): 1,
             (9, 7): 1,
             (10, 6): 1,
             (10, 7): 1,
             (6, 8): 1,
             (6, 9): 1,
             (7, 8): 1,
             (7, 9): 1,
             (8, 8): 1,
             (8, 9): 1,
             (9, 8): 1,
             (9, 9): 1,
             (10, 8): 1,
             (10, 9): 1,
             (6, 10): 1,
             (7, 10): 1,
             (8, 10): 1,
             (9, 10): 1,
             (10, 10): 1})

In [ ]:
# COMPRAS
compras = sc.parallelize([(1, 200), (2, 300), (3, 120), (4, 250), (5, 78)])

In [ ]:
chaves = compras.keys()
chaves.collect()

[1, 2, 3, 4, 5]

In [ ]:
valores = compras.values()
valores.collect()

[200, 300, 120, 250, 78]

In [ ]:
# Conta a qtd de vezes que a chave aparece
compras.countByKey()

defaultdict(int, {1: 1, 2: 1, 3: 1, 4: 1, 5: 1})

In [ ]:
# Soma +1 para cada valores
soma = compras.mapValues(lambda soma: soma + 1)
soma.collect()

[(1, 201), (2, 301), (3, 121), (4, 251), (5, 79)]

In [ ]:
debitos = sc.parallelize([(1, 20), (2, 300)])

In [ ]:
# mini join
resultado = compras.join(debitos)
resultado.collect()

[(1, (200, 20)), (2, (300, 300))]

In [ ]:
semdebito = compras.subtractByKey(debitos)
semdebito.collect()

[(4, 250), (5, 78), (3, 120)]